@import '../common';

.navbar {
  height:6vh;
  background-color: $primaryColor;
      background-image: url("http://dokynweb.com/assets/logo.png");
    background-size: 12%;
    background-position: center;
    background-repeat: no-repeat;
  .logo {
    display:inline-block;
    font-size: 0;    
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
