@import '../common';


#mapa{
	width: 100%;
	height: 520px;
	background-color: #fff;
	background-image: url("http://dokynweb.com/assets/mapa.png");
	background-size: cover;
	background-position: center;
}

#cel{
	position: absolute;
	width: 330px;
	height: 600px;
	right: 3%;
	bottom: 11%;
	background-image: url("http://dokynweb.com/assets/cel.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	.contenedorsito{
		margin: 154px auto 0;
		width: 69%;
		height: 340px;
		border:1px solid red;
		ul{
			height: 400px;
			overflow: auto;
			margin: 0;
			list-style-type: none;
			padding: 0;
			li{
				border-bottom:1px solid silver;
				height: 80px;
			}
		}
	}
}

.btn-apps{
	height: 90px;
	background-color: #fff;
	a{
		border-radius: 10px;
		background-color: gold;
		text-align: center;
		color: #fff;
		font-size: 2em;
		text-shadow: 2px 2px 2px rgba(0,0,0,.5);
		font-weight: bolder;
		width: 220px;
		height: 70px;
		line-height: 70px;
		display: inline-block;
		margin: 5px 0 0 20px;
		text-decoration: none;
		font-weight: bolder;
		background: rgb(252,234,187); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
		&:last-child{
			background-color: transparent;
			letter-spacing: -999em;
			background-image: url("https://play-storedownload.com/wp-content/uploads/2016/05/download-play-store-600x220.png");
			background-repeat: no-repeat;
			background-size: 100%;
			float: right;
			margin: 0 80px 0 0;
			font-size: 0;
		}
	}
}
