@import '../common';


#mapa{
	width: 100%;
	height: 80vh;
	background-color: #fff;
	background-image: url("http://dokynweb.com/assets/mapa.png");
	background-size: cover;
	background-position: center;
}

#cel{
	position: absolute;
	width: 380px;
	height: 650px;
	right: 3%;
	bottom: 15%;
	background-image: url("http://dokynweb.com/assets/cel.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	.contenedorsito{
		margin: 154px auto 0;
		width: 69%;
		height: 400px;
		ul{		
			height: 400px;
			overflow: auto;
			margin: 0;
			list-style-type: none;
			padding: 0;
			li{
				border-bottom:1px solid silver;
				height: 100px;
			}
		}
	}
}