@import '../common';


#mapa{
	width: 100%;
	height: 80vh;
	background-color: #fff;
	background-image: url("http://dokynweb.com/assets/mapa.png");
	background-size: cover;
	background-position: center;
}

#cel{
	position: absolute;
	width: 350px;
	height: 620px;
	right: 3%;
	bottom: 7%;
	background-image: url("http://dokynweb.com/assets/cel.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	.contenedorsito{
		margin: 154px auto 0;
		width: 69%;
		height: 365px;
		border:1px solid red;
		ul{
			height: 400px;
			overflow: auto;
			margin: 0;
			list-style-type: none;
			padding: 0;
			li{
				border-bottom:1px solid silver;
				height: 100px;
			}
		}
	}
}

.btn-apps{
	height: 90px;
	background-color: #fff;
	a{
		float: right;
		width: 220px;
		height: 80px;
		display: inline-block;
		margin: 5px 100px 0 0;
		font-size: 0;
		letter-spacing: -999em;
		background-image: url("https://play-storedownload.com/wp-content/uploads/2016/05/download-play-store-600x220.png");
		background-repeat: no-repeat;
		background-size: 100%;
	}
}
