.about {
  color: red;
}

h2{
	text-align: center;
	font-size: 2em;
}
form{
	width: 450px;
	margin: 0 auto;
	display: block;
	font-size: 1.4em;
	label{
		display: block;
		margin: 2px 0;
		padding: 10px;
	}
	input, select{
		border:1px solid silver;
		width: 100%;
		border-radius: 8px;
		padding: 10px 6px;
	}
	input[type="submit"]{
		margin-top: 10px;
	}
	textarea{
		border:1px solid silver;
		width: 100%;
	}
}
